@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-icon: rgb(133, 133, 133);
$color-Bg: darken(
  $color: white,
  $amount: 3%,
);
$base-size: 16 normal;

@mixin font-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@mixin font-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
}

@mixin box-shadow {
  box-shadow: 0px 6px 15px 0px lighten($color: $color-icon, $amount: 30%);
}

@mixin hover-button {
  cursor: pointer;
  background-color: lighten($color: $color-primary, $amount: 35%);
  box-shadow: 0px 10px 10px 0px lighten($color: $color-icon, $amount: 25%);
}

@mixin icon-primary {
  color: $color-primary;
}

@mixin Pink-button {
  background: $color-secondary;
  background: linear-gradient(178deg, $color-secondary 0%, $color-primary 87%);
  width: 217px;
  height: 52px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: white;
}

@mixin gray-button {
  width: 95%;
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: none;
  overflow: visible;
  background-color: darken($color: white, $amount: 3%);
  font-weight: bold;
  font-size: medium;
}

@mixin heart {
  animation-name: heart-anim;
  animation-duration: 300ms;
  background: linear-gradient(
    to bottom,
    $color-primary 0%,
    $color-secondary 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
}

@mixin heart-anim {
  @keyframes heart-anim {
    0% {
      transform: scale(0);
      font-weight: bold;
    }
    100% {
      transform: scale(1);
      font-weight: bold;
    }
  }
}

body {
  height: auto;
  @include font-text;
}

//-- HEADER--//

.header {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--menu {
    width: 100%;
    position: relative;
    span {
      position: relative;
      width: 40px;
      height: 20px;
      left: -70px;
      i {
        font-size: x-large;
        color: darken($color: $color-icon, $amount: 20%);
      }
    }
  }
  &__logo {
    width: 150px;
    height: 50%;
  }
  .container__icon {
    width: 50px;
    height: 25px;
  }
}

// MENU //

section.menu1 {
  width: 100%;
  height: auto;
}
.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: 200px;
  }
}
.container__text {
  position: relative;
  width: 100%;
  height: auto;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: darken($color: white, $amount: 5%);
  margin-top: -45px;

  .container__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 40px;
    margin-bottom: 25px;
    padding-top: 25px;
    font-family: "Shrikhand", cursive;
    font-size: small;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  i {
    font-size: x-large;
    color: $color-icon;
    &:active {
      @include heart();
      @include heart-anim();
    }
  }
  > p {
    width: 50px;
    height: 25px;
    color: $color-icon;
    font-weight: normal;
    font-size: large;
    margin-left: 5%;
    border-bottom: 3px solid $color-tertiary;
    margin-bottom: 5px;
  }
}

.container__button {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: menu-anim;
  animation-duration: 2s;
}
button.button-m {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 60px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  :hover {
    cursor: pointer;
  }
  &:hover > .icon-price {
    cursor: pointer;
    margin-right: -7px;
    i {
      transform: rotate(0deg);
    }
  }

  .button-text {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
    h2 {
      display: flex;
      width: 100%;
      height: 50%;
      font-size: large;
      margin: 0;
      margin-top: 10px;
    }
    p {
      text-align: left;
      width: 100%;
      height: 50%;
      color: darken($color: $color-icon, $amount: 20%);
      font-size: 14px;
      margin: 0;
      margin-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price {
    display: flex;
    width: 10%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    span {
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
  }

  .icon-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 102%;
    font-size: xx-large;
    color: white;
    font-weight: lighter;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $color-tertiary;
    margin-right: -17%;
    margin-top: -1px;
    border: none;
    transition: margin-right 0.5s;
    i {
      color: white;
      transform: rotate(-180deg);
      transition: transform 0.5s ease-in-out;
    }
  }

  @keyframes menu-anim {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
form.button__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  > button {
    @include Pink-button();
    @include box-shadow();
  }
  :hover {
    @include hover-button();
    filter: sepia(20%);
  }
}

// LOADING SPINNER //

section.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 85%;
  animation: loading 1s ease-in-out forwards 1s 1;
  .element {
    margin: auto;
    top: 200px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid transparent;
    &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      border: 15px solid transparent;
      border-top-color: $color-primary;
      border-bottom-color: $color-secondary;
      border-radius: 50%;
      animation: rotation-spinner 1.5s linear 1;
    }
  }
  .element-2 {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 20px;
    top: 90px;
    border-radius: 50%;
    border: 10px solid transparent;
    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      border: 10px solid transparent;
      border-left-color: $color-tertiary;
      border-right-color: $color-tertiary;
      border-radius: 50%;
      animation: rotation-spinner-2 1.5s linear 1;
    }
  }
}

@keyframes rotation-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-spinner-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes loading {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  90% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}
// GEOLOCATION //

.location {
  width: 100%;
  height: 50px;
  &__button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top: 3px solid rgb(211, 209, 209);
    font-size: medium;
    color: lighten($color: black, $amount: 30%);
    &:hover {
      cursor: text;
    }
    &__text {
      margin-left: 15px;
      font-weight: bold;
    }
    i {
      height: 50%;
    }
  }
}

// RESERVATION //

.reservation {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $color-Bg;

  &__header {
    width: 60%;
    height: 20%;
    @include font-text;
    font-size: 22px;
  }
  .reservation__text {
    width: 100%;
    height: 25%;
    color: lighten($color: black, $amount: 50%);
    font-size: larger;
    font-weight: normal;
  }
  .reservation__button {
    width: 100%;
    height: 30%;
  }
  button {
    @include Pink-button();
    @include box-shadow();
    &:hover {
      @include hover-button();
      filter: sepia(20%);
    }
  }
}

// FONCTIONNEMENT //

.fonctionnement {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;

  &__header {
    width: 95%;
    height: 5%;
    margin-left: 5%;
    @include font-title;
  }
  &__button {
    margin-left: 5%;
  }
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 26px;
    background-color: $color-primary;
    color: white;
    border-radius: 50%;
    margin-left: -15px;
    font-size: small;
    font-weight: normal;
  }
}
form button.button-f {
  @include gray-button();
  @include box-shadow();
  &:hover {
    @include hover-button();
    i {
      color: $color-primary;
    }
  }
  i {
    font-size: medium;
    color: $color-icon;
    margin: 20px;
  }
}

// RESTAURANT //

section.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darken($color: white, $amount: 3%);
  h2.restaurant__header {
    width: 95%;
    height: 15px;
    margin-left: 5%;
    font-size: x-large;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
    margin: 5%;
    background-color: white;
    @include box-shadow();
    &:hover {
      @include hover-button();
    }
    &--new p.new {
      width: 80px;
      height: 30px;
      border-radius: 2px 2px 2px 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 5%;
      color: darken($color-tertiary, $amount: 35%);
      background-color: $color-tertiary;
    }
    .container__new {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .card a {
    display: contents;
    text-decoration: none;
    color: black;
  }
  .card__img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 85%;
  }
  & img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurant__container {
    display: flex;
    width: 100%;
    height: 40%;
    margin-top: -10px;
    margin-left: 15px;
  }
  .restaurant__text {
    width: 80%;
  }
  .restaurant__location {
    margin-top: -15px;
    font-weight: normal;
    color: lighten($color: black, $amount: 30%);
  }
  .restaurant__icon {
    width: 20%;
    display: flex;
    align-items: center;
  }
  i {
    font-size: x-large;
    color: $color-icon;
    &:active {
      @include heart();
    }
  }
}

@include heart-anim();

// FOOTER //
footer {
  width: 100%;
  height: 200px;
  background-color: darken($color: white, $amount: 80%);
  color: white;
  line-height: 5px;
  font-weight: normal;
  .footer {
    height: auto;
    padding-top: 20px;
    margin-left: 20px;
    font-size: small;
    &__logo img {
      width: 20%;
      max-height: 30px;
      filter: invert(100%);
    }
    i {
      margin-right: 10px;
      font-size: x-small;
    }
    a {
      text-decoration: none;
      color: white;
      line-height: 10px;
    }
  }
}

// MEDIA QUERY //

// MAX-WIDTH 550px //

@media (min-width: 550px) {
  section.restaurant {
    nav {
      height: auto;
      margin-left: 10%;
      margin-right: 10%;
      .card {
        height: 10%;
      }
    }
  }
  section.menu_1 {
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    img {
      width: 100%;
      height: 115%;
    }
  }
}

// MAX-WIDTH 900px //

@media (min-width: 990px) {
  section.fonctionnement {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  section.--grid {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    nav {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin-left: 15%;

      margin-bottom: 5%;
      .card {
        max-width: 400px;
        height: 250px;
      }
      :hover i {
        color: red;
        @include heart();
        @include heart-anim();
      }
    }
  }
  section.menu_1 {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    height: auto;
    img {
      width: 100%;
      height: 115%;
    }
    &:hover {
      cursor: pointer;
      .container__header {
        i {
          @include heart();
          @include heart-anim();
        }
      }
    }
  }
}
