footer {
  width: 100%;
  height: 200px;
  background-color: darken($color: white, $amount: 80%);
  color: white;
  line-height: 5px;
  font-weight: normal;
  .footer {
    height: auto;
    padding-top: 20px;
    margin-left: 20px;
    font-size: small;
    &__logo img {
      max-width: 20%;
      max-height: 30px;
      filter: invert(100%);
    }
    i {
      margin-right: 10px;
      font-size: x-small;
    }
    a {
      text-decoration: none;
      color: white;
      line-height: 10px;
    }
  }
}
