body {
  width: 100%;
  height: auto;
}

.header {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 50%;
  height: 60%;
}

.location {
  width: 100%;
  height: 50px;
}
.location__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top: 3px solid #d3d1d1;
}
.location__button__text {
  margin-left: 15px;
}

.reservation {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}
.reservation__header {
  width: 70%;
  height: 20%;
}
.reservation .reservation__text {
  width: 80%;
  height: 25%;
  color: #707070;
}
.reservation .reservation__button {
  width: 100%;
  height: 30%;
}
.reservation button {
  background: #ff79da;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 87%);
  width: 217px;
  height: 52px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: white;
}

.fonctionnement {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.fonctionnement__header {
  width: 100%;
  height: 10%;
}
.fonctionnement__button {
  margin-left: 5%;
  margin-right: 5%;
}
.fonctionnement .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 20px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  margin-left: -15px;
}

form button.button-f {
  width: 95%;
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: none;
  overflow: visible;
  background-color: #f7f7f7;
}
form button.button-f > i {
  font-size: medium;
  color: #858585;
  margin: 20px;
}

section.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f7f7f7;
}
section.restaurant h1.restaurant__header {
  width: 100%;
  height: 15px;
}
section.restaurant .card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  margin: 5%;
  background-color: white;
}
section.restaurant .card--new p.new {
  width: 80px;
  height: 30px;
  border-radius: 2px 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  margin-right: 15px;
  color: #2c9c81;
  background-color: #99e2d0;
}
section.restaurant .card a {
  display: contents;
  text-decoration: none;
  color: black;
}
section.restaurant .card__img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 85%;
}
section.restaurant img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
section.restaurant .restaurant__text {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: -10px;
  margin-left: 15px;
}
section.restaurant .restaurant__location {
  width: 65%;
  margin-top: -15px;
}
section.restaurant .restaurant__icon {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: end;
}
section.restaurant i {
  font-size: x-large;
  color: #858585;
  margin-right: -25px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #4d4d4d;
  color: white;
  line-height: 5px;
}
footer .footer {
  padding-top: 20px;
  margin-left: 20px;
  font-size: small;
}
footer .footer__logo img {
  width: 25%;
  filter: invert(100%);
}
footer .footer i {
  margin-right: 10px;
  font-size: x-small;
}

/*# sourceMappingURL=style.css.map */
