body {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 50%;
  height: 50%;
}

.location {
  width: 100%;
  height: 50px;
}
.location__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top: 3px solid #d3d1d1;
}
.location__button__text {
  margin-left: 15px;
}

.reservation {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(243, 243, 243, 0.452);
}
.reservation__header {
  width: 70%;
  height: 30%;
}
.reservation .reservation__text {
  width: 100%;
  height: 30%;
  color: #707070;
}
.reservation .reservation__button {
  width: 100%;
  height: 30%;
}
.reservation button {
  background: #ff79da;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 87%);
  width: 217px;
  height: 52px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: white;
}

.fonctionnement {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fonctionnement__header {
  width: 100%;
  height: 10%;
  margin-bottom: -25px;
}
.fonctionnement__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-f {
  width: 90%;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  border: none;
}
button.button-f > i {
  font-size: large;
  color: #e0dcdc;
  padding-left: 2px;
}

section.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e0dcdc;
}
section.restaurant h1.restaurant__header {
  width: 100%;
  height: 15px;
}
section.restaurant .card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  margin: 5%;
  background-color: white;
}
section.restaurant .card--new p.new {
  color: black;
  width: 90px;
  height: 20px;
  border-radius: 2px 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  bottom: 105%;
  margin-right: 15px;
  background-color: #99e2d0;
}
section.restaurant .card a {
  display: contents;
  text-decoration: none;
  color: black;
}
section.restaurant .card__img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 85%;
}
section.restaurant img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
section.restaurant .restaurant__text {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: -10px;
  margin-left: 15px;
}
section.restaurant .restaurant__location {
  width: 65%;
  margin-top: -15px;
}
section.restaurant .restaurant__icon {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: end;
}
section.restaurant i {
  font-size: x-large;
}

.logo__footer img {
  width: 30%;
  color: white;
}

/*# sourceMappingURL=style.css.map */
