@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--menu {
  width: 100%;
  position: relative;
}
.header__logo {
  width: 150px;
  height: 60%;
}
.header .container__icon {
  width: 50px;
  height: 25px;
}

section.menu1 {
  width: 100%;
  height: auto;
}

.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.container__img img {
  position: relative;
  width: 100%;
  height: 200px;
}

.container__text {
  position: relative;
  width: 100%;
  height: auto;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f2f2f2;
  margin-top: -45px;
}
.container__text .container__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 40px;
  margin-bottom: 25px;
  padding-top: 25px;
  font-family: "Shrikhand", cursive;
  font-size: small;
  font-weight: lighter;
  letter-spacing: 1px;
}
.container__text i {
  font-size: xx-large;
  font-weight: lighter !important;
  color: #858585;
}
.container__text > p {
  width: 50px;
  height: 25px;
  color: #858585;
  font-weight: normal;
  font-size: large;
  margin-left: 5%;
  border-bottom: 3px solid #99e2d0;
  margin-bottom: 5px;
}

.container__button {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: menu-anim;
  animation-duration: 2s;
}

button.button-m {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 60px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: none;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}
button.button-m icon-menu:hover {
  animation: icon-anim 1s;
  cursor: pointer;
}

.button-text {
  width: 70%;
  height: 100%;
  margin-left: 10px;
}
.button-text h2 {
  display: flex;
  width: 100%;
  height: 50%;
  font-size: large;
  margin: 0;
  margin-top: 10px;
}
.button-text p {
  display: flex;
  width: 100%;
  height: 50%;
  color: #393939;
  font-size: 14px;
  margin: 0;
}

.price-menu {
  display: flex;
  align-items: flex-end;
  width: 15%;
  height: 80%;
  font-weight: bolder;
  text-overflow: ellipsis;
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  float: right;
  font-size: xx-large;
  color: white;
  font-weight: lighter;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  margin-right: -15%;
}

@keyframes icon-anim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes menu-anim {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
form.button__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}
form.button__menu > button {
  background: #ff79da;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 87%);
  width: 217px;
  height: 52px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: white;
  box-shadow: 0px 6px 15px 0px #d2d2d2;
}
form.button__menu :hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 10px 10px 0px #c5c5c5;
  filter: sepia(20%);
}

section.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 85%;
  animation: loading 2s ease-in-out forwards 2s 1;
}
section.loading-spinner .element {
  margin: auto;
  top: 200px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid transparent;
}
section.loading-spinner .element:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 15px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  animation: rotation-spinner 2s linear 1;
}
section.loading-spinner .element-2 {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-left: 20px;
  top: 90px;
  border-radius: 50%;
  border: 10px solid transparent;
}
section.loading-spinner .element-2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-left-color: #99e2d0;
  border-right-color: #99e2d0;
  border-radius: 50%;
  animation: rotation-spinner-2 2s linear 1;
}

@keyframes rotation-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-spinner-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  90% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}
.location {
  width: 100%;
  height: 50px;
}
.location__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top: 3px solid #d3d1d1;
  font-size: medium;
  color: #4d4d4d;
}
.location__button__text {
  margin-left: 15px;
  font-weight: bold;
}
.location__button i {
  height: 50%;
}

.reservation {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}
.reservation__header {
  width: 60%;
  height: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 22px;
}
.reservation .reservation__text {
  width: 100%;
  height: 25%;
  color: gray;
  font-size: larger;
  font-weight: normal;
}
.reservation .reservation__button {
  width: 100%;
  height: 30%;
}
.reservation button {
  background: #ff79da;
  background: linear-gradient(178deg, #ff79da 0%, #9356dc 87%);
  width: 217px;
  height: 52px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: white;
  box-shadow: 0px 6px 15px 0px #d2d2d2;
}
.reservation button:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 10px 10px 0px #c5c5c5;
  filter: sepia(20%);
}

.fonctionnement {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.fonctionnement__header {
  width: 100%;
  height: 5%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.fonctionnement__button {
  margin-left: 5%;
}
.fonctionnement .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 26px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  margin-left: -15px;
  font-size: small;
  font-weight: normal;
}

form button.button-f {
  width: 95%;
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: none;
  overflow: visible;
  background-color: #f7f7f7;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0px 6px 15px 0px #d2d2d2;
}
form button.button-f:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 10px 10px 0px #c5c5c5;
}
form button.button-f i {
  font-size: medium;
  color: #858585;
  margin: 20px;
}
form button.button-f i:hover {
  color: #9356dc;
}

section.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f7f7f7;
}
section.restaurant h2.restaurant__header {
  width: 100%;
  height: 15px;
  margin-left: 5%;
  font-size: x-large;
}
section.restaurant .card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  margin: 5%;
  background-color: white;
  box-shadow: 0px 6px 15px 0px #d2d2d2;
}
section.restaurant .card:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 10px 10px 0px #c5c5c5;
}
section.restaurant .card--new p.new {
  width: 80px;
  height: 30px;
  border-radius: 2px 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 5%;
  color: #2c9c81;
  background-color: #99e2d0;
}
section.restaurant .card .container__new {
  display: flex;
  flex-direction: row-reverse;
}
section.restaurant .card a {
  display: contents;
  text-decoration: none;
  color: black;
}
section.restaurant .card__img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 85%;
}
section.restaurant img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
section.restaurant .restaurant__container {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: -10px;
  margin-left: 15px;
}
section.restaurant .restaurant__text {
  width: 80%;
}
section.restaurant .restaurant__location {
  margin-top: -15px;
  font-weight: normal;
  color: #4d4d4d;
}
section.restaurant .restaurant__icon {
  width: 20%;
  display: flex;
  align-items: center;
}
section.restaurant i {
  font-size: x-large;
  color: #858585;
}
section.restaurant i:active {
  animation-name: heart-anim;
  animation-duration: 200ms;
  color: #9356dc;
  animation-fill-mode: forwards;
}

@keyframes heart-anim {
  0% {
    transform: scale(0);
    font-weight: bold;
  }
  25% {
    transform: scale(0.45);
    font-weight: bold;
  }
  50% {
    transform: scale(0.65);
    font-weight: bold;
  }
  75% {
    transform: scale(0.85);
    font-weight: bold;
  }
  100% {
    transform: scale(1);
    font-weight: bold;
  }
}
footer {
  width: 100%;
  height: 150px;
  background-color: #333333;
  color: white;
  line-height: 5px;
  font-weight: normal;
}
footer .footer {
  padding-top: 20px;
  margin-left: 20px;
  font-size: small;
}
footer .footer__logo img {
  width: 25%;
  filter: invert(100%);
}
footer .footer i {
  margin-right: 10px;
  font-size: x-small;
}
footer .footer a {
  text-decoration: none;
  color: white;
  line-height: 10px;
}

/*# sourceMappingURL=style.css.map */
